:root {
  /* --PRIMARY*/
  --Red-400: hsl(7, 99%, 70%);
  --Yellow-500: hsl(51, 100%, 49%);
  --Green-800-graphic-design-text: hsl(167, 40%, 24%);
  --Blue-800-photography-text: hsl(198, 62%, 26%);
  --Green-500-footer: hsl(167, 34%, 41%);

  /* --NEUTRAL */
  --Grey-950: hsl(212, 27%, 19%);
  --Grey-600: hsl(213, 9%, 39%);
  --Grey-550: hsl(232, 10%, 55%);
  --Grey-400: hsl(210, 4%, 67%);
  --White: hsl(0, 100%, 100%);

  /* --Fonts*/
  --Barlow: "Barlow";
  --Fraunces: "Fraunces";
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 3rem;
    padding: 0 3rem;
    gap: 2rem;
}

.container img{
    border-radius: 100%;
    width: 6rem;
}

.description{
    color: var(--Grey-950);
    font-size: 1.2rem;
    font-family: var(--Barlow);
    font-weight: 600;
}

.name{
    color: var(--Grey-950);
    font-family: var(--Fraunces);
    font-size: 1.6rem;
    font-weight: 900;
    margin-bottom: -1.5rem;
}

.cargo{
    color: var(--Grey-400);
    font-family: var(--Barlow);
    font-weight: 600;
    margin-bottom: 2rem;
}