:root {
  /* --PRIMARY*/
  --Red-400: hsl(7, 99%, 70%);
  --Yellow-500: hsl(51, 100%, 49%);
  --Green-800-graphic-design-text: hsl(167, 40%, 24%);
  --Blue-800-photography-text: hsl(198, 62%, 26%);
  --Green-500-footer: hsl(167, 34%, 41%);

  /* --NEUTRAL */
  --Grey-950: hsl(212, 27%, 19%);
  --Grey-600: hsl(213, 9%, 39%);
  --Grey-550: hsl(232, 10%, 55%);
  --Grey-400: hsl(210, 4%, 67%);
  --White: hsl(0, 100%, 100%);

  /* --Fonts*/
  --Barlow: "Barlow";
  --Fraunces: "Fraunces";
}

.content{
    display: flex;
}

.Cart img{
    width: 50%;
    height: 50%
}

.text{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 6rem;
    gap: 2rem;
}

.title{
    color: var(--Grey-950);
    font-family: var(--Fraunces);
    font-weight: 900;
    font-size: 2.5rem;
}

.description{
    color: var(--Grey-600);
    font-size: 1.2rem;
    font-family: var(--Barlow);
    font-weight: 600;
}

.content a{
    color: var(--Grey-950);
    font-family: var(--Fraunces);
    font-weight: 900;
    text-decoration-color:var(--Yellow-500) ;
    text-underline-offset:4px;
}

.content .aStandOut{
    color: var(--Grey-950);
    font-family: var(--Fraunces);
    font-weight: 900;
    text-decoration-color:var(--Red-400) ;
    text-underline-offset:4px;
}