:root {
  /* --PRIMARY*/
  --Red-400: hsl(7, 99%, 70%);
  --Yellow-500: hsl(51, 100%, 49%);
  --Green-800-graphic-design-text: hsl(167, 40%, 24%);
  --Blue-800-photography-text: hsl(198, 62%, 26%);
  --Green-500-footer: hsl(167, 34%, 41%);

  /* --NEUTRAL */
  --Grey-950: hsl(212, 27%, 19%);
  --Grey-600: hsl(213, 9%, 39%);
  --Grey-550: hsl(232, 10%, 55%);
  --Grey-400: hsl(210, 4%, 67%);
  --White: hsl(0, 100%, 100%);

  /* --Fonts*/
  --Barlow: "Barlow";
  --Fraunces: "Fraunces";
}

.Cart,
.CartCup {
  display: flex;
  height: 33rem;
}

.content {
  display: flex;
}

.Cart img,
.CartCup img {
  width: 50%;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
  gap: 2rem;
}

.title {
  color: var(--Grey-950);
  font-family: var(--Fraunces);
  font-weight: 900;
  font-size: 2.5rem;
  padding: 0 7rem;
}

.description {
  color: var(--Grey-600);
  font-size: 1rem;
  font-family: var(--Barlow);
  font-weight: 600;
  padding: 0 7rem;
}

.content a {
  color: var(--Grey-950);
  font-family: var(--Fraunces);
  font-weight: 900;
  text-decoration-color: var(--Yellow-500);
  text-underline-offset: 4px;
  padding: 0 7rem;
}

.content .aStandOut {
  color: var(--Grey-950);
  font-family: var(--Fraunces);
  font-weight: 900;
  text-decoration-color: var(--Red-400);
  text-underline-offset: 4px;
}

.components {
  display: flex;
}
.containerTestimonial{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.5rem 0;
}
.testimonial{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

.titleTestimonials{
  color: var(--Grey-400);
  font-family: var(--Barlow);
}

@media (max-width: 768px) {
  .containerCart {
    display: flex;
    flex-direction: column;
  }
  .Cart {
    flex-direction: column;
    height: auto;
  }
  .CartCup {
    height: auto;
    flex-direction: column;
  }
  .content {
    display: flex;
    flex-direction: column;
  }

  .Cart .content {
    flex-direction: column-reverse;
  }

  .Cart img,
  .CartCup img {
    width: 100%;
  }
  .text {
    width: 100%;
    height: 30rem;
    padding: 2rem 0;
    text-align: center;
  }

  .description,
  .title {
    text-align: center;
  }
  .title {
    padding: 1rem 3rem;
  }

  .description {
    padding: 0 1rem;
    margin-top: -2rem;
  }

  .components {
    flex-direction: column;
    width: 100%;
  }
  .column {
    display: flex;
    flex-direction: column;
  }

  .content a,
  .aStandOut {
    padding: 0 10rem;
  }

  .testimonial{
    display: flex;
    flex-direction: column;
  }
}
